* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Timon";
  color: rgb(54, 54, 54);
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Timon";
  src: url("../font/TmonMonsori.ttf.ttf");
}

/* 기본 설정 */
